body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

.list-container {

}

.list-container li {
  display: inline-block;
  padding: 7px;
  cursor: pointer;
  font-size: 16px;
}

.drop {
  position: relative;
}

.drop-menu {
  position: absolute;
}